## EPL

In [1]:
import pandas as pd
import numpy as np
import requests 
from bs4 import BeautifulSoup
import os
from textblob import TextBlob

import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

from sklearn.preprocessing import OneHotEncoder
from pandas.api.types import CategoricalDtype
import ipywidgets as widgets

In [2]:
df = pd.read_excel('Desktop/epl-2020-GMTStandardTime.xlsx')

In [3]:
df.dtypes

Match Number      int64
Round Number      int64
Date            float64
Location         object
Home Team        object
Away Team        object
Result           object
dtype: object

In [4]:
df.columns

Index(['Match Number', 'Round Number', 'Date', 'Location', 'Home Team',
       'Away Team', 'Result'],
      dtype='object')

In [70]:
df.sort_values(by = 'Round Number').head(10).style.highlight_between(axis=1, subset=['Date'], props='font-weight:bold;color:#e83e8c')

In [ ]:
# dropping date column as doesn't make sense
df.drop(columns='Date',inplace= True)

In [77]:
df

,Match Number,Round Number,Location,Home Team,Away Team,Result
0,4,1,Craven Cottage,Fulham,Arsenal,0 - 3
1,3,1,Selhurst Park,Crystal Palace,Southampton,1 - 0
2,5,1,Anfield,Liverpool,Leeds,4 - 3
3,8,1,London Stadium,West Ham,Newcastle,0 - 2
4,7,1,The Hawthorns,West Brom,Leicester,0 - 3
...,...,...,...,...,...,...
375,376,38,Anfield,Liverpool,Crystal Palace,2 - 0
376,377,38,Etihad Stadium,Man City,Everton,5 - 0
377,378,38,Bramall Lane,Sheffield Utd,Burnley,1 - 0
378,379,38,London Stadium,West Ham,Southampton,3 - 0
379,380,38,Molineux Stadium,Wolves,Man Utd,1 - 2

In [78]:
df.set_index('Match Number')

,Round Number,Location,Home Team,Away Team,Result
Match Number,,,,,
4,1,Craven Cottage,Fulham,Arsenal,0 - 3
3,1,Selhurst Park,Crystal Palace,Southampton,1 - 0
5,1,Anfield,Liverpool,Leeds,4 - 3
8,1,London Stadium,West Ham,Newcastle,0 - 2
7,1,The Hawthorns,West Brom,Leicester,0 - 3
...,...,...,...,...,...
376,38,Anfield,Liverpool,Crystal Palace,2 - 0
377,38,Etihad Stadium,Man City,Everton,5 - 0
378,38,Bramall Lane,Sheffield Utd,Burnley,1 - 0
379,38,London Stadium,West Ham,Southampton,3 - 0
380,38,Molineux Stadium,Wolves,Man Utd,1 - 2

In [76]:
df2 = pd.read_excel('Desktop/soccer-standings.xlsx', header=1)

In [81]:
print(df2.shape);df2.columns

(20, 28)

Index(['Team', 'Rank', 'P', 'M', 'W', 'D', 'L', 'G', 'GA', 'GD', 'Rank.1',
       'P.1', 'M.1', 'W.1', 'D.1', 'L.1', 'G.1', 'GA.1', 'GD.1', 'Rank.2',
       'P.2', 'M.2', 'W.2', 'D.2', 'L.2', 'G.2', 'GA.2', 'GD.2'],
      dtype='object')

In [9]:
col1= [df2.columns[x][:-2] + '_home' for x in range(10,19)]

In [10]:
col1

['Rank_home',
 'P_home',
 'M_home',
 'W_home',
 'D_home',
 'L_home',
 'G_home',
 'GA_home',
 'GD_home']

In [11]:
col2 = [df2.columns[x][:-2] + '_away' for x in range(19,28)]

In [12]:
col3 = list(df2.columns[:10])
col= col3 + col1 + col2
col
df2.columns = col;df2.columns

Index(['Team', 'Rank', 'P', 'M', 'W', 'D', 'L', 'G', 'GA', 'GD', 'Rank_home',
       'P_home', 'M_home', 'W_home', 'D_home', 'L_home', 'G_home', 'GA_home',
       'GD_home', 'Rank_away', 'P_away', 'M_away', 'W_away', 'D_away',
       'L_away', 'G_away', 'GA_away', 'GD_away'],
      dtype='object')

In [86]:
df2.style

In [13]:
df.Date

0      44086.520833
1      44086.625000
2      44086.729167
3      44086.833333
4      44087.583333
           ...
375    44339.666667
376    44339.666667
377    44339.666667
378    44339.666667
379    44339.666667
Name: Date, Length: 380, dtype: float64

In [14]:
df3 = pd.read_csv('Downloads/EPLStandings2010-2021.csv')

## data for 11 seasons

In [15]:
df3.dtypes

Season                         object
Pos                             int64
Team                           object
Pld                             int64
W                               int64
D                               int64
L                               int64
GF                              int64
GA                              int64
GD                              int64
Pts                             int64
Qualification or relegation    object
dtype: object

In [16]:
blob = TextBlob(df3['Qualification or relegation'][0])

In [17]:
blob

TextBlob("Qualification for the Champions League group stage")

In [18]:
df3.tail()

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
215,2020-21,16,Brighton & Hove Albion,38,9,14,15,40,46,-6,41,Not Applicable
216,2020-21,17,Burnley,38,10,9,19,33,55,-22,39,Not Applicable
217,2020-21,18,Fulham,38,5,13,20,27,53,-26,28,Relegation to the EFL Championship
218,2020-21,19,West Bromwich Albion,38,5,11,22,35,76,-41,26,Relegation to the EFL Championship
219,2020-21,20,Sheffield United,38,7,2,29,20,63,-43,23,Relegation to the EFL Championship

In [19]:
cl = [TextBlob(df3['Qualification or relegation'][x]) for x in range(len(df3))]

In [20]:
len(cl)

220

In [21]:
# making into atomic columns. no use for blob 
c = df3['Qualification or relegation'].str.contains('Champions League') # bool
pd.Series(c)
df3["ucl"]= c
d = df3['Qualification or relegation'].str.contains('Relegation') # bool
pd.Series(d)
df3["Relegation"]= d
e = df3['Qualification or relegation'].str.contains('Europa') # bool
pd.Series(e)
df3["Europa"]= e
df3.drop(axis=1, columns= 'Qualification or relegation', inplace = True)

In [22]:
df3.iloc[22:26,:]

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,ucl,Relegation,Europa
22,2011-12,3,Arsenal,38,21,7,10,74,49,25,70,True,False,False
23,2011-12,4,Tottenham Hotspur,38,20,9,9,66,41,25,69,False,False,True
24,2011-12,5,Newcastle United,38,19,8,11,56,51,5,65,False,False,True
25,2011-12,6,Chelsea,38,18,10,10,65,46,19,64,True,False,False

In [23]:
df3.columns

Index(['Season', 'Pos', 'Team', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts',
       'ucl', 'Relegation', 'Europa'],
      dtype='object')

In [24]:
print(df.columns)
print(df2.columns)
print(df3.columns)

Index(['Match Number', 'Round Number', 'Date', 'Location', 'Home Team',
       'Away Team', 'Result'],
      dtype='object')
Index(['Team', 'Rank', 'P', 'M', 'W', 'D', 'L', 'G', 'GA', 'GD', 'Rank_home',
       'P_home', 'M_home', 'W_home', 'D_home', 'L_home', 'G_home', 'GA_home',
       'GD_home', 'Rank_away', 'P_away', 'M_away', 'W_away', 'D_away',
       'L_away', 'G_away', 'GA_away', 'GD_away'],
      dtype='object')
Index(['Season', 'Pos', 'Team', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts',
       'ucl', 'Relegation', 'Europa'],
      dtype='object')

In [25]:
df3.dtypes

Season        object
Pos            int64
Team          object
Pld            int64
W              int64
D              int64
L              int64
GF             int64
GA             int64
GD             int64
Pts            int64
ucl             bool
Relegation      bool
Europa          bool
dtype: object

In [26]:
df3.head

<bound method NDFrame.head of       Season  Pos                    Team  Pld   W   D   L  GF  GA  GD  Pts  \
0    2010-11    1       Manchester United   38  23  11   4  78  37  41   80
1    2010-11    2                 Chelsea   38  21   8   9  69  33  36   71
2    2010-11    3         Manchester City   38  21   8   9  60  33  27   71
3    2010-11    4                 Arsenal   38  19  11   8  72  43  29   68
4    2010-11    5       Tottenham Hotspur   38  16  14   8  55  46   9   62
..       ...  ...                     ...  ...  ..  ..  ..  ..  ..  ..  ...
215  2020-21   16  Brighton & Hove Albion   38   9  14  15  40  46  -6   41
216  2020-21   17                 Burnley   38  10   9  19  33  55 -22   39
217  2020-21   18                  Fulham   38   5  13  20  27  53 -26   28
218  2020-21   19    West Bromwich Albion   38   5  11  22  35  76 -41   26
219  2020-21   20        Sheffield United   38   7   2  29  20  63 -43   23

       ucl  Relegation  Europa
0     True       False   False
1     True       False   False
2     True       False   False
3     True       False   False
4    False       False    True
..     ...         ...     ...
215  False       False   False
216  False       False   False
217  False        True   False
218  False        True   False
219  False        True   False

[220 rows x 14 columns]>